<div class="m-3">
  <h1>2000 ans de conquêtes et de réformes</h1>
  <h4>Retrouvez des citations inspirates de notre Empereur:</h4>
  <div>
    <p class="mt-4">
      "Mesdames, Messieurs, la nécessité de répondre à votre inquiétude
      journalière, que vous soyez jeunes ou âgés, a pour conséquence obligatoire
      l'urgente nécessité d'une restructuration dans laquelle chacun pourra
      enfin retrouver sa dignité. Je tiens à vous dire ici ma détermination sans
      faille pour clamer haut et fort que la situation d'exclusion que certains
      d'entre vous connaissent oblige à la prise en compte encore plus effective
      d'un programme plus humain, plus fraternel et plus juste. Et ce n'est
      certainement pas vous, mes chers compatriotes, qui me contredirez si je
      vous dis que la volonté farouche de sortir notre pays de la crise
      interpelle le citoyen que je suis et nous oblige tous à aller de l'avant
      dans la voie d'un plan correspondant véritablement aux exigences légitimes
      de chacun. Et c'est en toute conscience que je déclare avec conviction que
      la situation d'exclusion que certains d'entre vous connaissent a pour
      conséquence obligatoire l'urgente nécessité d'un plan correspondant
      véritablement aux exigences légitimes de chacun.
    </p>
    <p>
      "J'ai depuis longtemps (ai-je besoin de vous le rappeler ?) défendu l'idée
      que la conjoncture actuelle doit prendre en compte les préoccupations de
      la population de base dans l'élaboration d'un plan correspondant
      véritablement aux exigences légitimes de chacun."
    </p>
  </div>
</div>
<div class="d-lg-flex w-100 justify-content-center">
  <img src="/assets/img/seoul.jpg" alt="building" />
  <img src="/assets/img/building.jpg" alt="building" />
  <img src="/assets/img/city.jpg" alt="building" />
</div>
